.menubar {

  position: absolute;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 2px 0px grey;
  }
.menubar ul {
    height:100%;
    display:flex;
    flex-direction:column;
    list-style: none;
    padding:100px 0px 20px 0px;
}
.menubar ul li{
/* margin-bottom:50px; */
padding-left:80px;
padding-top:20px;
height:70px;
font-size:18px;
letter-spacing:2px;
color:orange;
cursor:pointer

}
.menubar ul li:hover{ 
    border-bottom:3px solid #ffa50029;
    border-top:3px solid #ffa50029;
}
